@{
    ViewData["Title"] = "Operations statistics";
}
<dx-chart>
    <datasource load-action="OperationsValue" />
    <series argument-field="Type" value-field="Count" type="Bar" />
    <value-axis>
        <label format="Decimal" />
    </value-axis>
    <title text="Operations"></title>

    <tooltip enabled="true" />
</dx-chart>
<dx-data-grid>
    <datasource load-action="OperationsDetail" />
    <column datafield="Subject" caption="Author">
    </column>
    <column datafield="Operation" caption="Operation">
    </column>
    <column datafield="Time" caption="Occured on">
    </column>
</dx-data-grid>