@{
    ViewData["Title"] = "Requests statistics";
}
<dx-chart>
    <datasource load-action="Requests" />
    <common-series-settings argument-field="Time"value-field="Count" type="FullStackedBar" range-value1-field="-60" range-value2-field="0" />
    <series-template name-field="From" /> 

    <value-axis>
        <label format="Decimal" />
    </value-axis>

    <title text="Requests" ></title>
    <legend vertical-alignment="Bottom" horizontal-alignment="Center" />
    <tooltip enabled="true" />
</dx-chart>
<dx-data-grid>
    <datasource load-action="RequestsDetail" />
    <column datafield="From" caption="Origin">
    </column>
    <column datafield="Time" caption="Arrived on">
    </column>
</dx-data-grid>