@model Gateway.Models.NewsModel
<h2>AddNews</h2>
<form asp-controller="Main"
      asp-action="AddNews"
      method="post" 
      asp-antiforgery="true">
    Author: <input asp-for="Author" type="text"/> <br />
    Header: <input asp-for="Header" type="text"/> <br />
    Body: <input asp-for="Body" type="text"/> <br />
    <input type="submit" value="Register" />
</form>
