@model Gateway.Models.UserModel;

<!DOCTYPE html>
<html>
<head />
<body>
    <h2>AddUser</h2>
    <form asp-action="AddUser" method="post">
        <input asp-for="Username" />
        <button type="submit" />
    </form>
</body>
</html>
