@{
    ViewData["Title"] = "Authenticate";
}

<div class="row">
    <div class="col-md-2">
        <form asp-controller="Users"
              method="get">
            <div class="form-group">
                <label class="control-label">Username:</label>
                <input name="username" class="form-control" type="text" required pattern="[a-zA-Z0-9]+" title="Input username (only letters and numbers allowed)"/>
            </div>
            <input type="submit" class="btn btn-primary" asp-action="Register" value="Register" />
            <input type="submit" class="btn btn-primary" asp-action="Login" value="Login" />
        </form>
    </div>
</div>

