@{
    ViewData["Tittle"] = "Users";
}
@model Gateway.Models.Users.IndexModel

<h2>You are logged in as @Model.Username</h2>
<hr/>
<a asp-action="Delete" asp-route-username="@Model.Username" class="btn btn-danger">Delete user</a>